{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <h1> This is the specific static web pages </h1>

    <img src="{% static 'images/image10.png' %}">
    <img src="{% static 'images/image11.png' %}">
    <img src="{% static 'images/image12.jpg' %}">

    <img src="{% static 'images/image5.png' %}">

</body>
</html>